<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<div style="width:300px; margin:0 auto; padding:0px 0; font-size: 5px; text-align: center">
    <p  style="color: #999; text-align: center">
        <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备2020117134号</a>
    </p>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602011453" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"><img src="/images/beian.png"/>浙公网安备 33010602011453号</p></a>
</div>
<!-- end custom footer snippets -->
