[submodule "_pages"]
	path = _pages
	url = https://github.com/vtu-pages/vtu.life._pages.git
[submodule "_posts"]
	path = _posts
	url = https://github.com/vtu-pages/vtu.life._posts.git
[submodule "images"]
	path = images
	url = https://github.com/vtu-pages/vtu.life.images.git
[submodule "files"]
	path = files
	url = https://github.com/vtu-pages/vtu.life.files.git
